@model IEnumerable<SchoolManagementAppWeb.Models.EducatorDetailsForDropdownEF>

@{
    ViewData["Title"] = "fetchEducatorDetailsForDropDown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Welcome to Anupam International School
            </h1>
            <p class="lead">
                Select an Educator to see the Educator details.
            </p>
           
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Bloggie - Dev blogs" class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover align-middle text-center" style="margin-left:50px; margin-top:-20px;margin-right:50px; width:fit-content">
    <tr>
        <td></td>
        <td></td>
        <td>
            <label for="EducatorName">Educator Name</label>
        </td>
        <td>
            @Html.DropDownList("educatorList", @ViewBag.educatorList, "-- Select Educator Name --", new { @class = "form-control" })

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr></tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
</table>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.educator_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.educator_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.educator_registration_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.educator_registration_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.educator_registration_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
