@* @model IEnumerable<SchoolManagementAppWeb.Models.StudentDetailsEF>;

@{
    ViewData["Title"] = "ABC International School";
}

<div>
    <table>
        <tr>
            <th>student_registration_Id</th>
            <th>student_name</th>
            <th>student_roll_number</th>
            <th>student_mobile_number</th>
            <th>student_class</th>
            <th>student_section_name</th>
            <th>student_address</th>
        </tr>

        @foreach(var StudentInfo in Model)
        {
            <tr>
                <td>@StudentInfo.student_registration_Id</td>
                <td>@StudentInfo.student_name</td>
                <td>@StudentInfo.student_roll_number</td>
                <td>@StudentInfo.student_mobile_number</td>
                <td>@StudentInfo.student_class_details</td>
                <td>@StudentInfo.student_section_details</td>
                <td>@StudentInfo.student_address</td>



            </tr>
        }

    </table>
 </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@